body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; 
}

.icone-menu {
    cursor: pointer;
    background-color: #80c8d8;
    position: fixed;
    z-index: 2;
    top: 15px;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    width: 15px;
}

.sidebar {
    height: 100%;
    width: 60px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80c8d8;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 20px;
    z-index: 1;
}

.sidebar.aberto {
    width: 200px; 
}

.sidebar .logo {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}

.sidebar .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.sidebar .logo .logo-texto {
    display: none; 
}

.sidebar.aberto .logo .logo-texto {
    display: inline; 
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar a .link-texto {
    display: none; 
}

.sidebar.aberto a .link-texto {
    display: inline; 
    margin-left: 10px;
}

.sidebar a:hover {
    background-color: #559da8;
}

.sidebar .botao-links {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.content {
    flex: 1;
    padding: 40px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: #155967;
}

.profile-box {
    background-color: white;
    padding: 20px; /* Reduzido de 30px para 15px */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Reduzido de 430px para 300px */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo no topo */
    height: auto; /* Ajuste a altura para auto para o card se ajustar ao conteúdo */
}


.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#edit {
    text-align: center;
    margin-bottom: 20px; /* Adiciona espaçamento entre o texto e a foto de perfil */
}

#edit h2 {
    font-size: 24px;
    color: #155967;
    margin: 0;
}

#edit p {
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}

.profile-header .avatar {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 17px;
}

.camera-icon {
    font-size: 32px;
    color: #454545;
    position: absolute;
    margin-bottom: 15px;
    bottom: 0;
    left: 60%;
}

.confirm-btn {
    width: 200px;
    background-color: #80c8d8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #559da8;
}

.cancel-btn {
    width: 200px;
    background-color: #ccc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #929292;
    color: white;
}

input::placeholder {
    color: #999;
    font-size: 16px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
