body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden; 
}

.icone-menu {
  cursor: pointer;
  background-color: #80c8d8;
  position: fixed;
  z-index: 2;
  top: 15px;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  width: 15px;
}

.sidebar {
  height: 100%;
  width: 60px; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: #80c8d8;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: 20px;
  z-index: 1;
}

.sidebar.aberto {
  width: 200px; 
}

.sidebar .logo {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.sidebar .logo .logo-texto {
  display: none; 
}

.sidebar.aberto .logo .logo-texto {
  display: inline; 
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar a .link-texto {
  display: none; 
}

.sidebar.aberto a .link-texto {
  display: inline; 
  margin-left: 10px;
}

.sidebar a:hover {
  background-color: #559da8;
}

.sidebar .botao-links {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.menu-item {
  margin: 20px 0;
}

.menu-item img {
  width: 30px;
  cursor: pointer;
}

.menu-item.active img {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  color: #155967;
  padding: 15px;
  margin: 0 auto; 
  max-width: 1000px;
  text-align: center;
  padding-top: 40px; 
  font-size: 35px;
}

.header p {
  font-size: 30px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center; 
  margin: 0 auto; 
  max-width: 800px; 
}

/* Timer Box */
.timer-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Timer Display */
#circularProgressBar {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.progress-value {
  font-size: 64px;
  color: #484545;
  font-weight: bold;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
}

.btn.start {
  background-color: #96d78a;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.start:hover{
  background-color: #76b36e;
  color: white;
}

.btn.pause {
  background-color: #dfe862;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.pause:hover{
  background-color: #c4cd4a;
  color: white;
}

.btn.resume {
  background-color: #8a96d7;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.resume:hover {
  background-color: #7c8bde;
  color: white;
}

.btn.add-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.btn.reset {
  background-color: #403f3f;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.add-time {
  background-color: #71b4f7;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.add-time:hover {
  background-color: #66a0db;
  color: white;
}

.btn.reset:hover{
  background-color: #585858;
  color: white;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 40px;
}

/* User profile icon */
.icone-perfil {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icone-perfil img {
  width: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
