* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden; 
  background-image: url(/img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 47% -80%;
}

/*Início da header/topbar/navbar*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155967;
  padding: 1rem 2rem;
  color: white;
  flex-direction: row;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: 40px;
}

.logo img {
  height: 40px;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon img {
  width: 40px;
  height: 40px;
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  background-color: #e0e0e0;
  padding: 0.5rem;
  color: #333;
}

.menu li a {
  display: flex; 
  align-items: center; 
  padding: 0.2rem 0.4rem; 
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s; 
}

.user {
  cursor: pointer;
}

.user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 4rem;
  background-color: #e0e0e0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.user-menu ul {
  list-style: none;
  padding: 1rem;
}

.user-menu ul li {
  margin-bottom: 1rem;
}

.user-menu ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px; 
  padding: 5px 5px 0px 5px; 
}


.show {
  display: block;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  gap: 0.3rem;
}


.navbar a:hover {
  background-color: #207283;
  color: #fff;
  
}
.user-menu a:hover {
  background-color: #c0c0c0; 
  color: #333;
  
}

.menu li a:hover {
  background-color: #c0c0c0; 
  color: #333; 
}


/*Fim da navbar*/
.container {
  display: flex;
  width: 100%;
  align-items: start;
  text-align: left;

}

.menu-item {
  margin: 20px 0;
}

.menu-item img {
  width: 30px;
  cursor: pointer;
}

.menu-item.active img {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header p {
  font-size: 30px;
  color: #666;
  display: flex;
  align-items: left;  
  text-align:left; 
  margin: 0 auto; 
  max-width: 800px; 
  padding: 45px;
} 

/* Timer Box */
.timer-box {
  padding: 95px;
  text-align: center; 
}

/* Timer Display */
#circularProgressBar {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.progress-value {
  font-size: 90px;
  color: #403f3f;
  font-weight: bold;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
}

.btn.start {
  background-color: #96d78a;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.start:hover{
  background-color: #76b36e;
  color: white;
}

.btn.pause {
  background-color: #dfe862;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.pause:hover{
  background-color: #c4cd4a;
  color: white;
}

.btn.resume {
  background-color: #8a96d7;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.resume:hover {
  background-color: #7c8bde;
  color: white;
}

.btn.add-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.btn.reset {
  background-color: #403f3f;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.add-time {
  background-color: #71b4f7;
  color: white;
  transition: background-color 0.3s ease;
}

.btn.add-time:hover {
  background-color: #66a0db;
  color: white;
}

.btn.reset:hover{
  background-color: #585858;
  color: white;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 40px;
}

/* User profile icon */
.icone-perfil {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icone-perfil img {
  width: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
